AWSTemplateFormatVersion: "2010-09-09"

Description: A {{ this['name'] }} implementation.

Metadata:
  CommitHash: {{ git['hash'] }}
  CommitDescription: {{ git['message'] }}
  AnyUnstagedChanges?: {{ git['unstaged'] }}


Resources:
  ConfigurationKey:
    Type: AWS::KMS::Key
    Properties:
      Description: A key for encrypting configuration items for cf_toolkit
      KeyPolicy:
        Version: "2012-10-17"
        Id: key-policy
        Statement:
          - Sid: Allow administration, encrypting, decrypting by all entities in this AWS account.
            Effect: Allow
            Principal:
              AWS: { "Fn::Join": [ ":", [ "arn", "aws", "iam:", { "Ref" : "AWS::AccountId" }, "root" ] ] }
            Action:
              - "kms:Create*"
              - "kms:Describe*"
              - "kms:Encrypt*"
              - "kms:Decrypt*"
              - "kms:Enable*"
              - "kms:List*"
              - "kms:Put*"
              - "kms:Update*"
              - "kms:Revoke*"
              - "kms:Disable*"
              - "kms:Get*"
              - "kms:Delete*"
              - "kms:ScheduleKeyDeletion"
              - "kms:CancelKeyDeletion"
            Resource: "*"


Outputs:
  ConfigurationKeyId:
    Value: { Ref : ConfigurationKey }
